# Entorno virtual
.venv/
venv/
env/

.idea
.env

# Database 
*.sqlite3
*.db

db.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*_initial.py

# Django
*.log
local_settings.py

# PyCharm
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Archivos de medios (subidos por usuarios)
/media/
!/media/.gitkeep
*media

# Static files recolectados
/staticfiles/