services:
  web:
    build: .
    container_name: portfolio-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    extra_hosts:
      - "db.lsbdrijlijjoranugmqi.supabase.co:0.0.0.0"
    command: >
      sh -c "
        python manage.py collectstatic --noinput &&
        python manage.py migrate &&
        gunicorn Portfolio.wsgi:application --bind 0.0.0.0:8000
      "
    restart: always
